# Cvičení
## [Studenti](https://kodim.cz/kurzy/python-data-1/python-pro-data-1/agregace-a-spojovani/excs#excs%3Estudenti)

In [1]:
import pandas

Načti dva datové sety studentů do oddělených pandas DataFrame a pomocí funkce `concat` je spoj do jednoho setu.

In [2]:
studenti1 = pandas.read_csv("studenti1.csv")
studenti2 = pandas.read_csv("studenti2.csv")

studenti = pandas.concat([studenti1, studenti2], ignore_index=True)
studenti.head()

     jméno    příjmení                      obor  ročník  kruh  prospěch
0  Ludmila  Šindlerová  informatika a management     4.0  11.0      2.49
1      Jan     Pekárek    softwarové inženýrství     1.0   7.0      1.05
2    Milan       Weiss        počítačová grafika     5.0  11.0      2.62
3   Jiřina     Petrová         správa IT systémů     4.0   1.0      1.15
4    Josef    Navrátil        číslicová technika     5.0   7.0      2.42

In [3]:
studenti.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 345 entries, 0 to 344
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   jméno     345 non-null    object
 1   příjmení  345 non-null    object
 2   obor      345 non-null    object
 3   ročník    312 non-null    float64
 4   kruh      318 non-null    float64
 5   prospěch  345 non-null    float64
dtypes: float64(3), object(3)
memory usage: 16.3+ KB

Pokud studentovi chybí ročník, znamená to, že již nestuduje. Pokud mu chybí číslo skupiny, znamená to, že jde o dálkového studenta. Kolik studentů v datovém setu již nestuduje a kolik jsou dálkoví studenti?

In [4]:
nestudujici = studenti[studenti["ročník"].isna()]
f"Celkem nestudujících: {len(nestudujici)}"

'Celkem nestudujících: 33'

In [5]:
dalkari = studenti[studenti["kruh"].isna()]
f"Celkem dálkařů: {len(dalkari)}"

'Celkem dálkařů: 27'

Vyčisti data od studentů, kteří nestudují nebo studují jen dálkově. Nadále budeme pracovat pouze s prezenčními studenty.

In [6]:
# Varianta 1 - smaze radky, kde chybi rocnik NEBO kruh
studenti = studenti.dropna(subset=["ročník", "kruh"]) 

# Varianta 2
# studenti = studenti.dropna(subset=["ročník"])
# studenti = studenti.dropna(subset=["kruh"])

In [7]:
studenti.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 287 entries, 0 to 344
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   jméno     287 non-null    object
 1   příjmení  287 non-null    object
 2   obor      287 non-null    object
 3   ročník    287 non-null    float64
 4   kruh      287 non-null    float64
 5   prospěch  287 non-null    float64
dtypes: float64(3), object(3)
memory usage: 15.7+ KB