## Česká jména 2

Stáhni si soubor jmena.csv se jmény tak, aby Pandas vyrobil číselný index.

In [5]:
import pandas

jmena = pandas.read_csv("jmena.csv")

In [6]:
jmena.head()

   jméno  četnost  věk pohlaví        svátek      původ
0   Jiří   296090   49       m          24.4      řecký
1    Jan   293938   40       m   24.6. a 6.7  hebrejský
2   Petr   272135   42       m  22.2. a 29.6      řecký
3   Jana   264944   50       ž          24.5  hebrejský
4  Marie   260526   65       ž          12.9  hebrejský

In [7]:
## Sloupce si můžu přejmenovat a vyhnout se psaní diakritiky
# jmena2.columns = ["jmeno", "cetnost", "vek", "pohlavi", "svatek", "puvod"]

Proveď následující dotazy:

Vypiš všechny řádky se jmény, jejichž nositelé mají průměrný věk vyšší než 60.

In [8]:
jmena[jmena["věk"] > 60]

        jméno  četnost  věk pohlaví svátek      původ
4       Marie   260526   65       ž   12.9  hebrejský
23       Věra   107388   63       ž   8.10  slovanský
30  Jaroslava    84556   63       ž    1.7  slovanský
38    Ludmila    72750   65       ž   16.9  slovanský
40     Zdeňka    69060   61       ž   23.6  slovanský
50    Jarmila    59666   65       ž    4.2  slovanský
53     Jiřina    55366   64       ž   15.2      řecký
64     Vlasta    41736   68       ž  23.12  slovanský
68     Božena    39851   72       ž   11.2  slovanský
70     Libuše    39269   66       ž   10.7  slovanský
71      Marta    38897   63       ž   29.7  aramejský
91     Růžena    28952   69       ž   13.3  slovanský
99     Zdenka    25416   68       ž   23.6  slovanský

Vypiš pouze jména z těch řádků, kde četnost je mezi 80 000 a 100 000.

In [9]:
jmena[(jmena["četnost"] > 80_000) & (jmena["četnost"] < 100_000)]

        jméno  četnost  věk pohlaví svátek      původ
29   Veronika    88854   25       ž    7.2      řecký
30  Jaroslava    84556   63       ž    1.7  slovanský
31   Vladimír    83762   56       m   23.5  slovanský
32     Tereza    83692   18       ž  15.10      řecký
33    Martina    81312   36       ž   17.7   latinský

Vypiš jména a četnost pro jména se slovanským nebo hebrejským původem. Kolik takových jmen je?

In [10]:
vybrana_jmena = jmena[jmena["původ"].isin(["slovanský","hebrejský"])]
# print(vybrana_jmena[["jméno", "četnost"]])

print(f"Jmen je {vybrana_jmena.shape[0]}.")

Jmen je 52.

Vypiš všechna jména, která mají svátek první 3 dny v prosinci.

In [11]:
prosinec_jmena = jmena[jmena["svátek"].isin(["1.12","2.12","3.12"])]

print(prosinec_jmena[["jméno", "svátek"]].sort_values("svátek"))

## Kontrola: 3.12 má podle kalendře svátek Svatoslav
# jmena[jmena["jméno"]=="Svatoslav"] ## v tabulce Svatoslava nemáme

     jméno svátek
97     Iva   1.12
83  Blanka   2.12