# ukol-08: Adopce zvířat

Stáhni si [dataset](https://raw.githubusercontent.com/lutydlitatova/czechitas-datasets/main/datasets/adopce-zvirat.csv), který obsahuje seznam zvířat k adopci v ZOO Praha. Zdroj dat je [Národní katalog otevřených dat](https://data.gov.cz/).

* Data si načti pomocí metody `pandas.read_csv()`. Pozor, nastav oddělovač na znak středníku. Využij parametr `sep`.

In [1]:
import pandas

In [2]:
data = pandas.read_csv("https://raw.githubusercontent.com/lutydlitatova/czechitas-datasets/main/datasets/adopce-zvirat.csv", sep=";")
data.head()

,id,nazev_cz,nazev_en,trida_cz,cena,k_prohlidce
0,7,Šváb syčivý,Madagascar giant cockroach,Bezobratlí,1000,1
1,8,Pakobylka okřídlená,Pink-winged stick insect,Bezobratlí,1000,1
2,16,Tayra,Tayra,Savci,5000,1
3,35,Kajmanka supí,Alligator snapping turtle,Plazi,2000,1
4,37,Želva žlutočelá,Indochinese box turtle,Plazi,1000,1

* Seznam se s daty. Kolik má tabulka řádek a sloupců? Jak se sloupce jmenují?

In [3]:
# Počet řádků a sloupců
data.shape

(513, 6)

In [4]:
# Názvy sloupců
data.columns

Index(['id', 'nazev_cz', 'nazev_en', 'trida_cz', 'cena', 'k_prohlidce'], dtype='object')

In [5]:
# Počet řádků a sloupců, názvy sloupců
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 513 entries, 0 to 512
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           513 non-null    int64
 1   nazev_cz     513 non-null    object
 2   nazev_en     513 non-null    object
 3   trida_cz     513 non-null    object
 4   cena         513 non-null    int64
 5   k_prohlidce  513 non-null    int64
dtypes: int64(3), object(3)
memory usage: 24.2+ KB

* Které zvíře se nachází na záznamu s indexem 34? Vypiš název tohoto zvířete v češtině a v angličtině.

In [6]:
# Všechny sloupce pro řádek na indexu 34
data.iloc[34]

id                     99
nazev_cz        Ibis bílý
nazev_en       White ibis
trida_cz            Ptáci
cena                 3000
k_prohlidce             1
Name: 34, dtype: object

In [7]:
# Varianta s využitím názvu sloupců
data.iloc[34][["nazev_cz", "nazev_en"]]

nazev_cz     Ibis bílý
nazev_en    White ibis
Name: 34, dtype: object

In [8]:
# Varianta s využitím pozice sloupců
data.iloc[34, [1, 2]]

nazev_cz     Ibis bílý
nazev_en    White ibis
Name: 34, dtype: object

---
## Nepovinný bonus

Využij metody [`sort_values()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_values.html) (a libovolných dalších metod), ke zjištění následujících informací:
* Adopce kterých zvířat je nejdražší?
* Které zvíře je alfabeticky poslední v češtině? Které v angličtině?

Bonus můžeš doplnit o nějaké vlastní pozorování.

In [9]:
# Nejdražší jsou tygři, hroch, slon a žirafa
data.sort_values("cena", ascending=False).head(10)

,id,nazev_cz,nazev_en,trida_cz,cena,k_prohlidce
114,335,Tygr sumaterský,Sumatran tiger,Savci,50000,1
113,334,Tygr ussurijský,Siberian tiger,Savci,50000,1
272,897,Tygr malajský,Malayan tiger,Savci,50000,1
129,385,Hroch obojživelný,Hippopotamus,Savci,50000,1
128,381,Slon indický,Asian elephant,Savci,50000,1
135,396,Žirafa severní núbijská (= Rothschildova),Rothschild's giraffe,Savci,50000,1
330,1101,Gaviál indický,Indian gharial,Plazi,30000,1
101,297,Orangutan sumaterský,Sumatran orang-utan,Savci,30000,1
115,336,Lev indický,Asiatic lion,Savci,30000,1
102,298,Gorila nížinná,Western lowland gorilla,Savci,30000,1

In [10]:
# Žluva je alfabeticky poslední v češtině
data.sort_values("nazev_cz", ascending=False).iloc[0]

id                               1190
nazev_cz                  Žluva hajní
nazev_en       Eurasian golden oriole
trida_cz                        Ptáci
cena                             1000
k_prohlidce                         1
Name: 371, dtype: object

In [11]:
# Frankolín je alfabeticky poslední v angličtině
data.sort_values("nazev_en", ascending=False).iloc[0]

id                                 491
nazev_cz           Frankolín žlutokrký
nazev_en       Yellow-necked francolin
trida_cz                         Ptáci
cena                              1000
k_prohlidce                          1
Name: 161, dtype: object