# Titanic data set

Každý tutoriál datové analýzy začíná zpracováváním data setu pasažérů lodi Titanic. 

Nebude tomu jinak ani v našem případě. Stáhni si soubor [titanic.csv](https://kodim.cz/cms/assets/analyza-dat/python-data-1/python-pro-data-1/nacteni-dat/excs/titanic/titanic.csv).

Načti data do `DataFrame`, který si pojmenuj `titanic`.

In [1]:
import pandas as pd

titanic = pd.read_csv("titanic.csv")

Nech si zobrazit názvy sloupců, které jsou v souboru uloženy.

In [2]:
titanic.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

Podívej se, kolik má soubor řádků.

In [6]:
titanic.shape[0]

891

Zjisti, jaký byl průměrný věk pasažérů.

In [4]:
titanic.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

Kolik bylo nejstaršímu pasažérovi?

In [5]:
# Use describe method to generate summary statistics
summary = titanic.describe()

# Extract the max and mean value of the specific column
max_value_age = summary.loc["max", "Age"]
mean_value_age = summary.loc["mean", "Age"]


print(f"Max age: {max_value_age}")
print(f"Avg age: {mean_value_age}")

Max age: 80.0
Avg age: 29.69911764705882