# Cvičení k lekci Agregace a spojování v Pandas

## Studenti

Stáhněte si datové sety, se kterými budeme pracovat v tomto cvičení: [jmena.csv](https://kodim.cz/czechitas/progr2-python/python-pro-data-1/agregace-a-spojovani/excs/studenti/assets/jmena.csv), [studenti1.csv](https://kodim.cz/czechitas/progr2-python/python-pro-data-1/agregace-a-spojovani/excs/studenti/assets/studenti1.csv), [studenti2.csv](https://kodim.cz/czechitas/progr2-python/python-pro-data-1/agregace-a-spojovani/excs/studenti/assets/studenti2.csv). 

První set už známe z minulé lekce. Druhé dva sety obsahují seznam studentů na nějaké menší IT fakultě. 

Proveďte následující úkoly a zodpovězte předložené otázky.

In [1]:
import pandas

jmena = pandas.read_csv(
    "https://kodim.cz/cms/assets/analyza-dat/python-data-1/python-pro-data-1/agregace-a-spojovani/excs/studenti/jmena.csv"
)
s1 = pandas.read_csv(
    "https://kodim.cz/cms/assets/analyza-dat/python-data-1/python-pro-data-1/agregace-a-spojovani/excs/studenti/studenti1.csv"
)
s2 = pandas.read_csv(
    "https://kodim.cz/cms/assets/analyza-dat/python-data-1/python-pro-data-1/agregace-a-spojovani/excs/studenti/studenti2.csv"
)

Načti dva datové sety studentů do oddělených pandas DataFrame a pomocí funkce concat je spoj do jednoho setu.

In [2]:
studenti = pandas.concat([s1, s2], ignore_index=True)
studenti

       jméno      příjmení                      obor  ročník  kruh  prospěch
0    Ludmila    Šindlerová  informatika a management     4.0  11.0      2.49
1        Jan       Pekárek    softwarové inženýrství     1.0   7.0      1.05
2      Milan         Weiss        počítačová grafika     5.0  11.0      2.62
3     Jiřina       Petrová         správa IT systémů     4.0   1.0      1.15
4      Josef      Navrátil        číslicová technika     5.0   7.0      2.42
..       ...           ...                       ...     ...   ...       ...
340   Daniel  Brandstätter  informatika a management     4.0   2.0      2.05
341    Lukáš          Čech  informatika a management     5.0   NaN      1.59
342   Dagmar      Košanová    teoretická informatika     5.0  10.0      1.34
343    Ivana    Macháčková        webové inženýrství     1.0   NaN      2.92
344  Martina       Turková    softwarové inženýrství     5.0   8.0      1.54

[345 rows x 6 columns]

In [ ]:
## Muzes si sloupce prejmenovat a zbavit se diakritiky, ale tohle reseni pracuje s puvodnim pojmenovanim
# studenti.columns = ["jmeno", "prijmeni", "obor", "rocnik", "kruh", "prospech"]

Pokud studentovi chybí ročník, znamená to, že již nestuduje. 

Pokud mu chybí číslo skupiny, znamená to, že jde o dálkového studenta. 

Kolik studentů v datovém setu již nestuduje a kolik jsou dálkoví studenti?

In [ ]:
nestudujici = studenti["ročník"].isna().sum()
dalkovy_studenti= studenti["kruh"].isna().sum()

## Alternativa
# nestudujici = studenti[studenti["ročník"].isnull()].shape[0]
# dalkovy_studenti = studenti[studenti["kruh"].isnull()].shape[0]

# Pokud studentovi chybí ročník, znamená to, že již nestuduje. 
print(f"Počet studentů, kteří nestudují: {nestudujici}")

# Pokud mu chybí číslo skupiny, znamená to, že jde o dálkového studenta. 
print(f"Počet dálkových studentů: {dalkovy_studenti}")

In [ ]:
## Hledáme VŠECHNY chybějící hodnoty
studenti.isnull().sum()

Vyčisti data od studentů, kteří nestudují nebo studují jen dálkově. Nadále budeme pracovat pouze s prezenčními studenty.

In [ ]:
print(f"Počet všech studentů: {studenti.shape[0]}")
studenti_prezencni = studenti.dropna()
# studenti_prezencni = studenti[~studenti["kruh"].isna() & ~studenti["ročník"].isna()]

print(f"Počet prezenčních studentů: {studenti_prezencni.shape[0]}")

## Alternativa
# studenti_prezencni = studenti[~studenti["kruh"].isna() & ~studenti["ročník"].isna()]

## Odstranění NaN jen z jednoho sloupce
# studenti = studenti.dropna(subset=['kruh'])
# studenti = studenti[studenti['kruh'].notna()]

## POZOR: dva studenti mají ZÁROVEŇ dálkové studium a již nestudují.
# kombinace_nan = studenti[studenti[['kruh', 'ročník']].isna().all(1)]

Zjisti, kolik prezenčních studentů je v každém z oborů.

In [ ]:
studenti_prezencni.groupby("obor")["obor"].count()

## Alternativa:
# studenti_prezencni.groupby("obor").size()
# studenti_prezencni.groupby("obor")[["jméno","příjmení"]].size()

Zjisti průměrný prospěch studentů v každém oboru.

In [ ]:
studenti.groupby("obor")["prospěch"].mean()

Načti datový set s křestními jmény. 

Proveď join s tabulkou studentů tak, abychom věděli pohlaví jednotlivých studentů.

In [ ]:
studenti_se_jmeny = pandas.merge(studenti, jmena)

## Nebo jen vybrané sloupce (ostatní nepotřebuji)
## POZOR: musíme vždy vybírat všechny sloupce potrebné pro propojení
# studenti_se_jmeny = pandas.merge(studenti[["jméno", "příjmení"]], jmena[["jméno", "pohlaví"]])

Zjisti, zda na naší fakultě studují IT spíše ženy nebo spíše muži.

In [ ]:
studenti_se_jmeny.groupby("pohlaví")["pohlaví"].count()

## Alternativa:
# studenti_se_jmeny.groupby("pohlaví").size()
# studenti_se_jmeny["pohlaví"].value_counts()